.accordion {
  display: flex;
  min-width: 70%;
  justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .accordion {
    min-width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: $mobile-width) {
  .accordion {
    flex-direction: column;
  }
}

.accordion h2 {
  @include offset(0, 0);
  @include fonts(15px, 16px);
  margin-bottom: 26px;
  font-family: "roboto-condensed-regular", Arial, sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

@media (max-width: $tablet-width) {
  .accordion h2 {
    margin-bottom: 23px;
  }
}

@media (max-width: $mobile-width) {
  .accordion h2 {
    margin-bottom: 0;
  }
}

.accordion__container-list {
  display: flex;
}

@media (max-width: $tablet-width) {
  .accordion__container-list {
    flex-direction: column;
  }
}

.accordion__container-list ul:not(:last-child) {
  padding-right: 16%;
}

@media (max-width: $mobile-width) {
  .accordion__item-header {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
}

@media (max-width: $mobile-width) {
  .accordion__item-header::after {
    content: "";
    background-image: url("../img/plus.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
  }
}

@media (max-width: $mobile-width) {
  .accordion__item-header.active::after {
    content: "";
    background-image: url("../img/minus.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
  }
}

@media (max-width: $mobile-width) {
  .accordion__item-body {
    max-height: 0;
    overflow: hidden;
  }
}

@media (max-width: $mobile-width) {
  .accordion__item-body .accordion__item-content {
    padding-top: 32px;
  }
}

.accordion__item-body ul {
  padding-bottom: 0;
}
