.footer {
  margin-top: auto;
  width: 100%;
}

@media (max-width: $tablet-width) {
  .footer {
    position: relative;
  }
}

.footer ul {
  @include list-reset();
}

.footer__wrapper,
.footer__information-wrapper {
  @include fonts(15px, 25px);
  color: $dark-blue;
  max-width: 1469px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer__wrapper {
  @include fonts(15px, 25px);
  color: $dark-blue;
  display: flex;
  max-width: 1469px;
  margin: 0 auto;
  box-sizing: border-box;
}


@media (max-width: $tablet-width) {
  .footer__wrapper {
    flex-wrap: wrap;
  }
}

.footer__wrapper {
  padding: 65px 28px 56px;
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    padding: 18px 0 13px;
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    padding-bottom: 0;
  }
}

.footer__information-wrapper {
  @include fonts(13px, 24px);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: auto auto 1fr 1fr;
  gap: 20px;
  width: 100%;
  padding: 14px 30px;
}

@media (max-width: $tablet-width) {
  .footer__information-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
    padding: 21px 28px 26px;
  }
}

@media (max-width: $mobile-width) {
  .footer__information-wrapper {
    padding-top: 28px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper ul {
    padding-bottom: 46px;
  }
}

.footer__links {
  width: 30%;
}

@media (max-width: $tablet-width) {
  .footer__links {
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($light-grey, 0.2);
    margin-bottom: 38px;
  }
}

@media (max-width: $mobile-width) {
  .footer__links {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding: 0 25px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 50px;
}

.footer__logo-current {
  cursor: auto;
}


@media (max-width: $tablet-width) {
  .footer__logo {
    margin-bottom: 18px;
  }
}

@media (max-width: $mobile-width) {
  .footer__logo {
    margin-bottom: 64px;
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  padding-right: 30px;
}

@media (max-width: $tablet-width) {
  .footer__social {
    max-width: 150px;
  }
}

@media (max-width: $mobile-width) {
  .footer__social {
    max-width: 220px;
  }
}

@media (max-width: $tablet-width) {
  .footer__social li{
    padding-top: 10px;
  }
}

.footer__social li:not(:last-child) {
  margin-right: 16px;
}

.footer__social-link svg {
  color: $middle-grey;
}

.footer__social-link:hover svg {
  color: $sky-blue;
}

.footer__social-link:active svg {
  color: rgba($sky-blue, 0.5);
}

.footer li,
.footer p {
  opacity: 50%;
}

.footer__navigation {
  width: 45.6%;
}

.footer__contacts li {
  color: rgba($dark-blue, 0.5);
}

.footer__navigation a,
.footer__contacts a {
  @include link();
  color: rgba($dark-blue, 0.5);
}

.footer__navigation a:hover,
.footer__contacts a:hover {
  color: $sky-blue;
}

.footer__navigation a:active,
.footer__contacts a:active {
  color: rgba($sky-blue, 0.5);
}

@media (max-width: $tablet-width) {
  .footer__navigation {
    padding: 0 26px 26px;
    width: 50%;
  }
}

@media (max-width: $mobile-width) {
  .footer__navigation {
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba($light-grey, 0.2);
    padding: 0 15px;
  }
}

@media (max-width: $tablet-width) {
  .footer__navigation h2 {
    width: 100%;
    position: relative;
  }
}

@media (max-width: $tablet-width) {
  .footer__contacts {
    padding: 0 17px 26px;
    width: 50%;
  }
}

@media (max-width: $mobile-width) {
  .footer__contacts {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
  }
}

.footer__contacts p {
  @include offset(0, 0);
  letter-spacing: 0.4px;
}

.footer__information {
  border-top: 1px solid rgba($light-grey, 0.2);
}

.footer__information-wrapper p {
  @include offset(0, 0);
  letter-spacing: 0.4px;
}


.footer__information-wrapper p:nth-of-type(2n+1) {
  align-items: center;
}

.footer__information-wrapper p:nth-of-type(2n+2){
  text-align: right;
}

@media (max-width: $mobile-width) {
  .footer__information-wrapper p:not(:last-child) {
    padding-bottom: 21px;
  }
}


@media (max-width: $tablet-width) {
  .footer__information-wrapper p {
    min-width: 50%;
    text-align: left;
  }
}

@media (max-width: $tablet-width) {
  .footer__information-wrapper p:nth-child(2n) {
    text-align:left;
  }
}

@media (max-width: $mobile-width) {
  .footer__information-wrapper p {
    min-width: 100%;
    text-align: center;
  }
}

.footer__container {
  grid-column-start: 1;
  grid-column-end: 3;;
  grid-row: 1/1;
  display: flex;
  flex-wrap: wrap;
  min-width: 455px;
}

@media (max-width: $tablet-width) {
  .footer__container {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .footer__container {
    min-width: 150px;
  }
}

.footer__container p {
  width: max-content;
}

@media (max-width: $tablet-width) {
  .footer__container p:first-child {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .footer__container p:last-child {
    position: absolute;
    top: 8%;
    right: 9%;
    transform: translateX(3%);
  }
}

@media (max-width: $mobile-width) {
  .footer__container p:last-child{
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

.footer__container p:not(:last-child){
  padding-right: 17%;
}

@media (max-width: $mobile-width) {
  .footer__information-wrapper p:nth-child(2n),
  .footer__information-wrapper p:nth-of-type(2n+2) {
    text-align: center;
  }
}

.footer__information li {
  @include fonts(13px, 24px);
  text-transform: uppercase;
}
