@font-face {
  font-family: 'pt-mono-regular';
  src: url('../fonts/pt-mono-regular.woff2') format('woff2'), url('../fonts/pt-mono-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'roboto-condensed-bold';
  src: url('../fonts/roboto-condensed-bold.woff2') format('woff2'), url('../fonts/roboto-condensed-bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'roboto-condensed-regular';
  src: url('../fonts/roboto-condensed-regular.woff2') format('woff2'), url('../fonts/roboto-condensed-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
