/*Colors*/

$white: #ffffff;
$dark-blue: #1b2d37;
$sky-blue: #00b2ff;
$grey: #666666;
$light-grey: #626962;
$the-lightest-grey: #ebebeb;
$middle-grey: #cdcdcd;
$black: #000000;

/*Viewports*/
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$only-mobile-width: 320px;
